/* *{
    padding: 0;
    margin: 0;
} */
.contenedor {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;
    width: 95%;
    max-width: 1077px;
    border: 1px solid silver;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    line-height: 50px;
    text-align: center;
    background: url('../img/otoño-calendario.jpg');
    background-size: cover;
    border-radius: 7px;
}
.contenedor-octubre{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 7px;
    width: 95%;
    max-width: 1077px;
    border: 1px solid silver;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px;
    line-height: 50px;
    text-align: center;
    background: url('../img/ghost-face.jpg'); 
    background-size: cover;
    border-radius: 7px;  
}
.contenedor-octubre > div {
    display: block;
    padding: 24px;
    text-align: center;
    /* box-shadow: 2px 2px 10px black; */
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
}
.contenedor > div {
    display: block;
    padding: 24px;
    text-align: center;
    /* box-shadow: 2px 2px 10px black; */
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.one-day:hover{
    background-color: rgb(192, 192, 192, 0.7);
}
.numero-dias:hover{
    background: rgb(192, 192, 192, 0.7);
}
.festivos:hover{
    background: rgb(192, 192, 192, 0.7);
}
.one-day-octubre:hover{
    background-color: rgb(192, 192, 192, 0.7);
}
.mes, .dias, .contenedor-octubre > div, .contenedor > div {
    background-color: rgb(245, 245, 245, 0.4);
    border-radius: 10px;
}
.mes{
    grid-column-start: 1;
    grid-column-end: 8;
    font-size: 2em;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.dias{
    padding: 3px;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.one-day-octubre{
    grid-column-start: 6;
}
.one-day{
    grid-column-start: 4;
}
.festivos{
    font-family: 'Roboto', sans-serif;
    color: brown;
    font-weight: bold;
}