*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;  
  }
  form {
      text-align: center;
  width: 20%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  }
  fieldset {
      border-radius: 7px;
  }