h1{
    text-align: left;
    margin-bottom: 50px;
}
label, .Descrip, h1, h2, .btn-confirmar, .btn-cancelar{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 1.3em;
}
label, .Descrip{
    font-size: 1.2em;
}
.condiciones {
    padding: 15px;
}
.container-md{
    margin: 40px;
    border: 1px solid rgb(64, 64, 64, .7);
    padding: 30px;
    border-radius: 5px;
}
.btn-confirmar{
    background: rgb(11, 148, 68);
    border: 1px solid rgb(11, 148, 68);
}
.btn-confirmar, .btn-cancelar{
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    color: white;
}
.icon-shopping-cart, .icon-block{
    font-size: 1.5em;
}
.btn-cancelar{
    background: darkred;
    border: 1px solid darkred;
}
.btn-confirmar:hover{
    background: rgb(164, 198, 78);
    border: 1px solid rgb(164, 198, 78);
}
.btn-cancelar:hover{
    background: red;
    border: 1px solid red;
}