*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgrey;
}
.contenedor-main{
    padding: 20px;
    font-size: 1.6em;
  /*   line-height: 16vh; */
    text-align: center;
    gap: 7px;
    color: whitesmoke;
}
.cabeza{
    background-color: darkred;
    grid-area: cabeza;
}
.cuerpo{
    background-color: darkcyan;
    grid-area: cuerpo;
}
.cabeza, .cuerpo, .hijo3, .hijo2, .hijo1{
    border-radius: 8px;
}
.hijo1, .hijo2, .hijo3{
    background-color: darkslategrey;
}
.hijo1{
    grid-area: hijo1;
}
.hijo2{
    grid-area: hijo2;
}
.hijo3{
    grid-area: hijo3;
}
.texto1, .texto2, .texto3{
    text-align: justify;
}
.texto1, .texto3{
    color: whitesmoke;
}
.texto1{
    grid-area: texto1;
}
.texto2{
    grid-area: texto2;
    color: black;
}
.texto3{
    grid-area: texto3;
}
.contenedor-main{
    display: grid;
    grid-template:      "cabeza none   none" 150px
                        "cuerpo cuerpo cuerpo" 350px
                        "hijo1  hijo2  hijo3" 250px  
                        "texto1 texto2 texto3" 350px /
                         1fr     1fr     1fr;
    
}
@media only screen and (max-width: 1250px) {
    .contenedor-main{
    grid-template:      "cabeza  none " 150px
                        "cuerpo cuerpo " 350px
                        "hijo1  hijo2 " 250px  
                        "texto1 texto2 " 350px
                        "hijo3  none "  250px
                        "texto3 none"  350px /
                        1fr     1fr   ;
    }
}
@media only screen and (max-width: 900px) {
    .contenedor-main{
    grid-template:     "cabeza  " 150px
                        "cuerpo  " 250px
                        "hijo1  " 200px  
                        "texto1  " 50px;
    }
}