*{
    margin: 0;
    padding: 0;
}
header, nav, aside, main, footer {
    padding: 20px;
    font-size: 1.6em;
    border: 3px solid whitesmoke;
  /*   line-height: 16vh; */
    text-align: center;
    color: whitesmoke;
}
.header{
    background-color: darkcyan;
    grid-area: header;
}
.navbar{
    background-color: goldenrod;
    grid-area: navbar;
}
.sidebar{
    background-color: darkred;
    grid-area: sidebar;
}
.main {
    background-color: darkolivegreen;
    grid-area: main;
}
.footer{
    background-color: darkmagenta;
    grid-area: footer;
}
.page-content{
    display: grid;
    grid-template:      "header header" 100px
                        "sidebar  navbar" 100px
                        "sidebar  main" 400px
                        "footer  footer" 150px  / 
                        200px auto;
    
}
@media  only screen and (max-width: 800px) {
    .page-content{
        grid-template:      "header" 100px
                            "navbar" 100px
                            "main" 500px
                            "sidebar" 300px
                            "footer" 150px;
        
    }
    
}