*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../img/guts.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
/* body{
    background-color: darkblue;
} */
.encabezado{
    width: 100%;
    display: grid;
    grid-template: "logo empty1 empty2"auto / .5fr 4fr 4fr;
}
.logo_menu{
    grid-area: logo;
    padding: 1em;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}
.fas {
    color: black;
    font-size: 2em;
    padding-right: .3em;
}
@media only screen and (max-width: 385px){
    .fas {
        font-size: 1.3em;
    }
}