nav{
    width: 280px;
    top: 0;
    transition: all .5s;
    position: absolute;
    left: -20em;
    background-color: rgba(255, 255, 255, .5);
}
a{
    text-decoration: none;
    list-style: none;
    color: rgb(11, 11, 11);
}
ul{
    margin-top: 4em;
}
.tittle_head, .list_inside{
    font-family: Arial, Helvetica, sans-serif;
}
.tittle_head{
    font-weight: bolder;
    margin-left: .3em;
    font-size: 1.2em;
    padding: 0.5em;
}
.list_inside{
    margin-left: .5em;
    padding: 0.4em;
    font-weight: 400;
}
.list_inside:hover{
    text-decoration:underline;
}
.MostrarNAv{
    left: 0;
}
@media only screen and (max-width: 385px){
    nav{
        width: 200px;
    }
    ul{
        margin-top: 2em;
    }
    .tittle_head{
        font-size: 1em;
        padding: .4em;
    }
    .list_inside{
        font-size: .8em;
        padding: .3em;
    }
}