*{
    margin: 0;
    padding: 0;
}
.titulo-principal {
    font-family: 'Indie Flower', cursive;
    font-size: 3.5em;
    text-align: center;
}
table{
    width: 700px;
    margin: 0 auto; 
    border-collapse: collapse;
    text-align: center;   
}
th{
    color: white;
    border-radius: 10px;
}

td, th {
 text-align: center;
 font-size: 1.2em;
 padding: 15px;
 border: 1px solid rgb(255,255,255);
}
.head1{
    background: rgb(255, 208, 2);
}
.head2{
background: rgb(0, 187, 218);
}
.head3{
background: rgb(255, 47, 157);
}
.body1, .body2, .body3{
border-radius: 10px;
}
.body2{
    background: whitesmoke;
}
.compra1, .compra2, .compra3{
    background: rgb(192, 205, 26);
    color: white;
    border-radius: 10px;
}