*{
    margin: 0;
    padding: 0;
}
h1{
    padding: 5px;
    font-family: 'Roboto', sans-serif;  
}
header{
    display: inline-block;
}
.icon-spa{
    background-size: cover;
    position: fixed;
    top: 0;
    left: 100px;
    z-index: 20;
    width: 60px;
    height: 65px;
}
.fa-search{
    margin-right: 40px;
    color: rgb(48,48,48,.8);
    font-size: .9em;
    margin-top: 15px;
}
.nabvar{
   /*  padding: 10px; */
   position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    font-size: 1em;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    margin-right: 0;
    padding: 19px;
}
li{
    display: inline-block;
    padding-right: 10px;
}
a{
    text-decoration: none;
    list-style: none;
    color: black;
}
a:hover{
    color: darkgoldenrod;
}
.imagen-principal{
    width: 100%;
    height: 550px;
    background: url('../img/prueba-spa1.jfif');
    background-size: cover;
}
.sidebar{
    grid-area: sidebar;
}
/* .article-2, .article-4, .article-6, .article-8{
    background: whitesmoke;
    padding: 8px;
} */
.article1, .article2, .article3, .article4, .article5, .article6, .article7, .article8{
    width: 300px;
    height: 305px;
    padding: 8px;
}
.article1{
    grid-area: article-1;
}
.article2{
    grid-area: article-2;
}
.article3{
    grid-area: article-3;
}
.article4{
    grid-area: article-4;
}
.article5{
    grid-area: article-5;
}
.article6{
    grid-area: article-6;
}
.article7{
    grid-area: article-7;
}
.article8{
    grid-area: article-8;
}
.footer{
    grid-area: footer;
    
}
.page-content{
    display: grid;
    gap: 10px;
    grid-template: "sidebar article-1 article-2 article-3 footer"  350px  
                   "sidebar article-4 article-5 article-6 footer " 350px 
                   "sidebar article-7 article-8 none      footer"  350px  /
                    170px auto;
}
.imagen-1, .imagen-2, .imagen-3, .imagen-4, .imagen-5, .imagen-6, .imagen-7, .imagen-8{
    width: 250px;
    height: 130px;
    padding: 10px;
    margin: 0 auto;
}
.imagen-1{
    background: url('../img/masaje-250x130.jpg');
    background-size: cover;
}
.imagen-2{
    background: url('../img/masaje2-200x130.jpg');
    background-size: cover;
}
.imagen-3{
    background: url('../img/manicura200x130.jpg');
    background-size: cover;
}
.imagen-4{
    background: url('../img/maquillaje200x130.jpg');
    background-size: cover;
}
.imagen-5{
    background: url('../img/peluqueria200x130.jfif');
    background-size: cover;
}
.imagen-6{
    background: url('../img/depilacion200x130.jfif');
    background-size: cover;
}
.imagen-7{
    background: url('../img/belleza200x130.jpg');
    background-size: cover;
}
.imagen-8{
    background: url('../img/aceites200x130.jpg');
    background-size: cover;
}
.texto{
    text-align: left;
    padding: 7px;
}
.linea{
    border-bottom: 2px solid darkgoldenrod;
    width: 60px;
    margin: 10px 6px;
}
@media only screen and (max-width: 1300px) {
    .page-content{
        grid-template: "sidebar article-1 article-2 footer"  350px  
                       "sidebar article-3 article-4 footer"  350px
                       "sidebar article-5 article-6 footer " 350px 
                       "sidebar article-7 article-8 footer"  350px  /
                        250px auto;
    }
    .imagen-principal{
        width: 100%;
        height: 400px;
    }
}
@media only screen and (max-width: 1080px) {
    .page-content{
        grid-template: "sidebar article-1 article-2 footer"  320px  
                       "sidebar article-3 article-4 footer"  320px
                       "sidebar article-5 article-6 footer " 320px 
                       "sidebar article-7 article-8 footer"  320px  /
                        150px auto;
    }
    .imagen-principal{
        width: 100%;
        height: 400px;
    }
}
@media only screen and (max-width: 950px) {
    .page-content{
        grid-template: "sidebar article-1 footer"  320px  
                       "sidebar article-2 footer"  320px 
                       "sidebar article-3 footer"  320px
                       "sidebar article-4 footer"  320px
                       "sidebar article-5 footer"  320px
                       "sidebar article-6 footer " 320px 
                       "sidebar article-7 footer"  320px
                       "sidebar article-8 footer"  320px  /
                        220px auto;
    }
    .imagen-principal{
        width: 100%;
        height: 350px;
    }
    .nabvar{
        font-size: 1em;
    }
}
@media only screen and (max-width: 805px) {
    .page-content{
        grid-template: "sidebar article-1 footer"  320px  
                       "sidebar article-2 footer"  320px 
                       "sidebar article-3 footer"  320px
                       "sidebar article-4 footer"  320px
                       "sidebar article-5 footer"  320px
                       "sidebar article-6 footer " 320px 
                       "sidebar article-7 footer"  320px
                       "sidebar article-8 footer"  320px  /
                        250px auto;
    }
    .imagen-principal{
        width: 100%;
        height: 350px;
    }
    .nabvar{
        font-size: 0.8em;
    }
}