*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: #252440 /* cadetblue */;
}
footer{
    background-color: #5497a7;
    text-align: center;
}
img{
    border-radius: 5px;
}
.encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_head{
    background-color: #50858b;
}
#show_movie{
    padding: 2em;
    margin-left: 2em;
}
.content_body{
    background-color: whitesmoke;
}
.kills, .atrapame, .superbad, .mad, .scream, .perros{
    display: inline-block;
}
.tittle_main{
    margin: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    color: white;
    font-size: 1em; 
}
.tittle_main, .logo, .logo2{
    display: inline-block;
}
.inicio{
    color: white;
}
.inicio:hover{
    color: silver;
}
.fa-brands{
    display: none;
}
.fa-bars{
    font-size: 3em;
    border-radius: 5px;
    padding: 0.2em;
    cursor: pointer;
}
.content_body{
    background-color: #62a8ac;
}
.kills, .atrapame, .superbad, .mad, .scream, .perros{
    width: 330px;
    height: 510px;
    padding: 0.5em;
}
.espacio{
    grid-area: espacio;
}
.vacio{
    grid-area: vacio;
}
.kills{
    grid-area: article1;
    width: 320px;
}
.atrapame{
    grid-area: article2;
}
.superbad{
    grid-area: article3;
}
.mad{
    grid-area: article4;
}
.scream{
    grid-area: article5;
}
.perros{
    grid-area: article6;
}
.content_body{
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template: "espacio article1 article2 article3 vacio"  520px  
                   "espacio article4 article5 article6 vacio"  520px  /
                   120px auto;
}
.icon-twitter, .icon-facebook{
    font-size: 1em;
    color: white;
    cursor: pointer;
}
.twitter, .facebook, .derechos{
    display: inline-block;
    padding: 0.5em;
}
@media only screen and (max-width: 1080px){
    .content_body{
        grid-template: "espacio article1 article2 vacio" 510px
                       "espacio article3 article4 vacio" 510px
                       "espacio article5 article6 vacio" 510px/
                       105px auto;
    }
    #show_movie{
        padding: 1.5em;
        margin-left: 2em;
        width: 90%;
        background-position: center center;
    }
}
@media only screen and (max-width: 930px){
    .content_body{
        grid-template: "espacio article1 article2 vacio" 510px
                       "espacio article3 article4 vacio" 510px
                       "espacio article5 article6 vacio" 510px/
                       100px auto;
    }
    #show_movie{
        padding: 1.5em;
        margin-left: 2em;
        width: 90%;
        background-position: center right;
    }
}
@media only screen and (max-width: 828px){
    .content_body{
        grid-template: "espacio article1 article2 vacio" 510px
                       "espacio article3 article4 vacio" 510px
                       "espacio article5 article6 vacio" 510px/
                       50px auto;
    }
    #show_movie{
        padding: 1.2em;
        margin-left: 2em;
        width: 90%;
        background-position: center right;
    }
}
@media only screen and (max-width: 807px){
    .content_body{
        grid-template: "espacio article1 article2 vacio" 510px
                       "espacio article3 article4 vacio" 510px
                       "espacio article5 article6 vacio" 510px/
                       77px auto;
    }
    #show_movie{
        padding: 2em;
        margin-left: 2em;
        width: 90%;
        background-position: center right;
    }
}
@media only screen and (max-width: 805px){
    .content_body{
        grid-template: "espacio article1 vacio" 510px
                       "espacio article2 vacio" 510px
                       "espacio article3 vacio" 510px
                       "espacio article4 vacio" 510px
                       "espacio article5 vacio" 510px
                       "espacio article6 vacio" 510px/
                       177px auto;
    }
    #show_movie{
        padding: 1.5em;
        margin-left: 2em;
        width: 85%;
    }
}
@media only screen and (max-width: 777px){
    .content_body{
        grid-template: "espacio article1 vacio" 510px
                       "espacio article2 vacio" 510px
                       "espacio article3 vacio" 510px
                       "espacio article4 vacio" 510px
                       "espacio article5 vacio" 510px
                       "espacio article6 vacio" 510px/
                       180px auto;
    }
    #show_movie{
        padding: 1.5em;
        margin-left: 2em;
        width: 85%;
    }
}
