*{
    padding: 0;
    margin: 0;
}
.content_blue{
    background-color: rgb(0, 76, 154);
    height: 50px;
}
.content_main{
    display: grid;
    padding: .5em;
    grid-template: " hamburguesa logo empty busqueda numerocompra carrocompra usuario" 50px/ 1fr 1fr 4fr 1fr 1fr 1fr 1fr ;
}
.hamburguesa, .busqueda, .usuario{
    text-align: center;
}
.hamburguesa{
    grid-area: hamburguesa;
}
.busqueda{
    grid-area: busqueda;
}
.usuario{
    grid-area: usuario;
}
.numero_compra{
    grid-area: numerocompra;
    background-color: darkred;
    border-radius: 100px;
    width: 18px;
    text-align: center;
    color: whitesmoke;
    margin-left: 60px;
    padding: 1em;
}
.caro_compra{
    grid-area: carrocompra;
}
.logo{
    width: 70px;
    grid-area: logo;
}
.fa-bars,.icon-magnifying-glass, .icon-user, .icon-shopping-cart{
    font-size: 1.8em;
    padding: .4em;
}
/* Medidas de Buscador */
.flexdireccion{
    padding: .5em;
    display: flex;
    align-items: center;
}
.glass, .cross{
    font-size: 1.8em;
    font-weight: 200;
}
#textbus{
    width: 100%;
    padding: .1em;
    padding-left: 10px;
    outline: none;
    border: none;
}

@media only screen and (max-width: 385px){
    .content_main{
        padding: .5em;
        grid-template: " hamburguesa logo empty busqueda numerocompra carrocompra usuario" 35px/ 1fr 1fr 4fr 1fr 1fr 1fr 1fr ;
    }
    .hamburguesa, .busqueda, .usuario, .caro_compra{
        margin: 0 auto;
        padding: .5em;
        font-size: 1em;
    }
    .icon-magnifying-glass, .icon-user, .icon-shopping-cart, .fa-bars{
        font-size: 1.3em;
        text-align: center;
    }
    .busqueda{
        text-align: right;
    }
    .hamburguesa{
        grid-area: hamburguesa;
    }
    .busqueda{
        grid-area: busqueda;
    }
    .usuario{
        grid-area: usuario;
    }
    .numero_compra{
        grid-area: numerocompra;
        background-color: darkred;
        border-radius: 100px;
        width: 20px;
        padding: .5em;
        text-align: center;
        color: whitesmoke;
        margin-left: 0;
    }
    .caro_compra{
        grid-area: carrocompra;
    }
    .logo{
        width: 40px;
        grid-area: logo;
        padding: .2em;
    }
    /* =============================================================================== */
    .glass, .cross{
        font-size: 1.4em;
        font-weight: 200;
    }
    #textbus{
        width: 18pc;
    }
}